{% extends 'base.html' %}

{% block title %}Resume{% endblock title %}

{% block body %}
<main class="main">

    <!-- Resume Section -->
    <section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="resume">
        <div class="d-flex align-items-center justify-content-center my-4">
            <div class="bg-secondary" style="height: 2px; width: 50px;"></div>
            <h2 class="mx-3">Resume</h2>
            <div class="bg-secondary" style="height: 2px; width: 50px;"></div>
        </div>
        <p class="text-center">Here is my Resume, outlining my professional journey and qualifications.</p>
      </div> <!-- End Section Title -->

      <div class="container my-5">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title fw-bold">Sumary</h3>

            <div class="resume-item pb-0">
              <h4 class="text-muted">Dinesh Chand</h4>
              <p><em>Passionate and self-motivated entry-level web developer with foundational skills in Django, Python, and web development. Recently completed a BSC CSIT with hands-on experience in building web applications using Django framework during academic projects. Eager to apply technical knowledge and learn advanced concepts in real-world scenarios. Looking forward to contributing to innovative web development teams while continuously improving my expertise in backend and frontend technologies.</em></p>
            </div><!-- Edn Resume Item -->

            <h3 class="resume-title fw-bold">Education</h3>
            <div class="resume-item">
              <h4 class="text-muted">Bsc Computer Science and Information Technology (Bsc CSIT)</h4>
              <h6>2018 - 2022</h6>
              <p><em>Mahendra Multiple Campus, Nepalgunj, Banke</em></p>
              <p>Recently completed a BSC CSIT with hands-on experience in building web applications using Django framework during academic projects. </p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4 class="text-muted">Intermediate Level- Science</h4>
              <h6>2016 - 2018</h6>
              <p><em>Jaya Bageshwory Higher Secondary School,Nepalgunj, Banke</em></p>
              <p>I passed my Intermediate Level- Science with securing 3.06 GPA. </p>
            </div><!-- Edn Resume Item -->

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title fw-bold">Professional Experience</h3>
            <div class="resume-item">
              <h4 class="text-muted">Technical Traniee</h4>
              <h6>18 Jun 2023 - 25 Aug 2023</h6>
              <p><em> Nepal Telecom, Nepalgunj, Banke</em></p>
              <ul>
                <li>Support senior technicians and engineers in troubleshooting network problems.</li>
                <li>Learn to implement new telecom services and technologies under supervision.</li>
                <li>Work with the customer service team to help resolve customer issues promptly.</li>
                <li>Participate in routine maintenance activities to ensure the network operates efficiently.</li>
              </ul>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4 class="text-muted">IT Officer</h4>
              <h6>3 Sep, 2023 - June 25, 2024</h6>
              <p><em>Chhimeki Infosys Pvt Ltd, Nepalgunj, Banke</em></p>
              <ul>
                <li>Oversee the installation, configuration, and maintenance of hardware and software systems.</li>
                <li>Manage servers, networks, and other IT infrastructure to ensure optimal performance.</li>
                <li>Troubleshoot and resolve IT-related problems in a timely manner.</li>
                <li>Plan and manage IT projects, including system upgrades and new implementations.</li>
              </ul>
            </div><!-- Edn Resume Item -->

          </div>

        </div>

      </div>

    </section><!-- /Resume Section -->

  </main>

{% endblock body %}